@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-black text-white relative min-h-screen overflow-x-hidden antialiased;
        font-family: 'antarctican-headline', 'Inter', sans-serif;
        font-weight: 300;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'antarctican-headline', 'Outfit', sans-serif;
        @apply tracking-tighter;
    }
}

::selection {
    @apply bg-sor7ed-yellow text-black;
}