@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-black text-white relative min-h-screen overflow-x-hidden antialiased;
        font-family: 'Space Mono', monospace;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Space Mono', monospace;
        @apply tracking-tighter;
    }
}

::selection {
    @apply bg-sor7ed-yellow text-black;
}